.green-500 { color: #25CB68; }
.bg-green-800 { background-color: #098530; }
.w100p { width: 100%; }
.bg-cover { background-size: cover; }
.order-100 { order: -100; }
.z100 { z-index: 100; }
.hover-green-500:hover { color: #25CB68; }
.hover-bg-green-800:hover { background-color: #098530; }
@media (min-width: 1025px) {
  .fill-green-800-lg { fill: #098530; }
}

@media (min-width: 795px) {
  .bg-cover-md { background-size: cover; }
}