.green-800 { color: #098530; }
.w90vw { width: 90vw; }
.max-w100p { max-width: 100%; }
.mt10 { margin-top: 3.75rem; }
.sans-serif { font-family: sans-serif; }
.mx-auto { margin-left: auto; margin-right: auto; }
.flex { display: flex; }
li:last-child { color: #EF0707; }
@media (min-width: 795px) {
  .green-500-md { color: #25CB68; }
  .mb6-md { margin-bottom: 2.25rem; }
}