.bg-grey-200 { background-color: #E8E8E8; }
.bg-white { background-color: #ffffff; }
.flex { display: flex; }
.flex-column { flex-direction: column; }
.fz14px { font-size: 1.4rem; }
.fz20px { font-size: 2rem; }
.lh3 { line-height: 1.8rem; }
.lh5 { line-height: 3rem; }
.max-w100p { max-width: 100%; }
.mb1 { margin-bottom: 0.6rem; }
.min-h300px { min-height: 30rem; }
.mt20p { margin-top: 20%; }
.mx-auto { margin-left: auto; margin-right: auto; }
.p2 { padding: 1.2rem; }
.pb0 { padding-bottom: 0rem; }
.px2 { padding-left: 1.2rem; padding-right: 1.2rem; }
.rounded { border-radius: 0.2rem; }
.sans-serif { font-family: sans-serif; }
.shadow-2 { box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17); }
.w50p { width: 50%; }

@media (min-width: 940px) {
  .fz30px-md { font-size: 3rem; }
}
