.text-decoration-none { text-decoration: none; }
.justify-between { justify-content: space-between; }
.sans-serif { font-family: sans-serif; }
.flex { display: flex; }
.fz14px { font-size: 1.4rem; }
.black { color: #000000; }
