html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

body { font-size: 62.25% }

* { box-sizing: border-box }

#css-mount {
  background-color: rgba(0,0,0,0.12);
  width: 50vw;
  padding: 1rem;
}

#site-container {
  /* width: 70vw; */
}